@use "../../style/vars";

.Projects {
    height: 800px;
    background-color: vars.$grayish;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &-title {
        color: vars.$white;
        margin-bottom: 1.5rem;
        font-size: 2.5rem;
        text-transform: uppercase;
        text-align: center;
        position: relative;
        & span{
            display: inline-block;
            animation-name: falling;
            animation-duration: 1s;
            animation-timing-function: ease-in-out;
            animation-fill-mode: forwards;
            transform-origin: bottom center;
            &:last-child{
                animation-name: falling-last;
            }
        }

    }
    &-card {
        width: 20rem;
        height: 32rem;
        border-radius: 10px;
        overflow: hidden;
        cursor: pointer;
        position: relative;
        color: rgb(35, 32, 32);
        box-shadow: 0 10px 30px 5px rgba(0, 0, 0, 0.2);

        &__info {
            position: absolute;
            top: 80%;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba(255, 255, 255, 0.5);
            transition: top .3s ease-out, background-color .3s ease-out; 
        }

        &__img img {
            position: absolute;
            object-fit: cover;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            opacity: 1;
            transition: opacity .2s ease-out;
        }

        &__info h3 {
            position: absolute;
            inset: auto auto 30px 30px;
            transition: inset .3s ease-out, background-color .3s ease-out;
            text-transform: uppercase;
            font-size: 2rem;
        }
        &__info p,
        &__info a {
            position: absolute;
            opacity: 0;
            max-width: 80%;
            transition: opacity .3s ease-out;
        }

        &__info p {
            inset: auto auto 110px 30px;
            width: 100%;
        }

        &__info a {
            inset: auto auto 10px 30px;
            color: vars.$white;
            text-decoration: none;
            background-color: vars.$green;
            padding: 1rem;
            border-radius: 5px;
        }

        &:hover h3 {
            inset: auto auto 210px 30px;
            transition: inset .3s ease-out;
        }

        &:hover p,
        &:hover a {
            opacity: 1;
            transition: opacity .5s .1s ease-in;
        }

        &:hover img {
            opacity: 0.4;
            transition: opacity .3s ease-in;
        }

        &:hover section {
                top: 50%; 
        }
    }
}

.grayish {
    background-color: vars.$grayish;
}

.gray {
    background-color: vars.$gray;
}

.greenish {
    background-color: vars.$greenish;
}
@keyframes falling {
    0% {
      transform: translateY(-100px) scale(0.8);
    }
    50% {
      transform: translateY(50px) scale(1.2);
    }
    100% {
      transform: translateY(0) scale(1);
    }
  }
  
  @keyframes falling-last {
    0% {
      transform: translateY(-100px) scale(0.8);
    }
    50% {
      transform: translateY(50px) scale(1.2);
    }
    99% {
      transform: translateY(0) scale(1);
    }
    100% {
      transform: translateY(0) scale(1) translateY(10px);
    }
  }

  
  
  
  
  