@use "../../style/vars";

.Home {
  font-size: 2.5rem;
  color: vars.$white;
  height: 100vh;
  text-transform: uppercase;
  background-color: vars.$gray;

  &-container {
    width: 80vw;
    height: 100vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &__top{
      padding-top: 10%;
      flex-grow: 1;
      height: 60%;
      display: flex;
    }
    &__cube{
      width: 40%;
  
    }
    &__words {
     display: flex;
     flex-direction: column;
     justify-content: center;
     width: 60%;
     gap: 12%;
    
    }

    &__bottom {
      flex-grow: 1;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    & span {
      position: relative;
      opacity: 0;
      animation: cascade 1s ease-in-out forwards;
    }

    & span:nth-child(2) {
      animation-delay: 0.3s;
    }

    & span:nth-child(3) {
      animation-delay: 0.6s;
      color: rgba(239, 236, 236, 0.7);
    }

    & span:nth-child(4) {
      animation-delay: 0.9s;
    }
  }

  &-button {
    padding: 0.6rem 1.6rem;
    border: 2px solid vars.$green;
    position: relative;
    overflow: hidden;
    background-color: transparent;
    transition: .3s;
    z-index: 1;
    font-family: inherit;
    font-size: 1.5rem;
    color: vars.$green;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);

    &::before {
      content: '';
      width: 0;
      height: 360%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) rotate(45deg);
      background: vars.$green;
      transition: .5s ease;
      display: block;
      z-index: -1;
    }

    &:hover {
      cursor: pointer;
      color: vars.$gray;
  
      &::before {
        width: 105%;
      }
    }
  }

  .gray {
    background-color: vars.$gray;
  }

  .greenish {
    background-color: vars.$greenish !important;
  }
}

@keyframes cascade {
  from {
    top: -50px;
    opacity: 0;
  }

  to {
    top: 0;
    opacity: 1;
  }
}
@media (max-width: 1024px) {
  .Home-container{
    padding-top: 10%;
    width: 100vw;
    height: auto;

  &__words{
    width: 0;
    visibility: hidden;
  }
  &__cube {
      width: 100%;
  }
  &__bottom {
    visibility: hidden;
    height: 0;
  }
  }
}