@use "./vars";
@font-face {
    font-family: 'Hariettext';
    src: url('../../public/fonts/harriet/HARRIETTEXTBOLD.woff2'),
     url('../../public/fonts/harriet/HARRIETTEXTBOLDITALIC.woff2'),
     url('../../public/fonts/harriet/HARRIETTEXTITALIC.woff2'),
     url('../../public/fonts/harriet/HARRIETTEXTLIGHT.woff2'),
     url('../../public/fonts/harriet/HARRIETTEXTMEDIUM.woff2'),
     url('../../public/fonts/harriet/HARRIETTEXTREGULAR.woff2');
}
body{
    font-family: 'Hariettext';
    // background-color: vars.$gray;
}