@use "../../style/vars";
.AboutMe{
    height: 800px;
    background-color: vars.$gray;
    &-presentation{
        width: 80%;
        margin: auto;
        background-color: vars.$grayish-light;
        padding: 1rem;
        border-radius: 5px;
        color:vars.$white ;
        line-height: 1.6rem;
        // font-weight: bold;
        letter-spacing: 1px ;

    }
    & span {
        color:vars.$green ;
    }
}
.grayish{
    background-color: vars.$grayish;
    // transition: background-color 1s;
}
.gray{
    background-color: vars.$gray;
    // transition: background-color 1s;
}
.greenish{
    background-color: vars.$greenish;
    // transition: background-color 1s;
}